@inherits UmbracoViewPage<MyProfileSite.Web.ViewModels.HeaderViewModel>

<header class="container">
    <div class="row">
        <nav class="main-nav">
            <ul>
                @foreach (var page in Model.MenuItems)
                {
                    <li>
                        <a href="@page.Url" class="@(page.IsCurrent ? "current" : null)">
                            @page.Name
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</header>

