<div ng-controller="ImageGalleryGuide.controller" ng-model="model.value">
    <div class="umb-gallery">
        <div class="umb-gallery__thumbnails">
            <a class="umb-gallery__thumbnail" ng-repeat="image in model.images" ng-click="model.openLightbox($index, model.images)">
                <img src="{{ image.thumbnail }}" />
            </a>
        </div>
    </div>

    <umb-lightbox ng-if="model.lightbox.show"
                  items="model.lightbox.items"
                  active-item-index="model.lightbox.activeIndex"
                  on-close="model.closeLightbox">
    </umb-lightbox>
</div>